.container {
  width: 200px;
  height: 200px;
  background: beige;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

a:hover {
  color: red;
}

.site {
  background: greenyellow;
  text-decoration-color: green;
  font-style: italic;
  font-size: 1em;
  margin: 0.5em;
}
